Source: ros-jazzy-geometric-shapes
Section: misc
Priority: optional
Maintainer: Tyler Weaver <tyler@picknik.ai>
Build-Depends: debhelper (>= 9.0.0), libassimp-dev, libboost-dev, libboost-filesystem-dev, libeigen3-dev, libfcl-dev, libqhull-dev, pkg-config, ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-copyright <!nocheck>, ros-jazzy-ament-cmake-gtest <!nocheck>, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-cmake <!nocheck>, ros-jazzy-console-bridge-vendor, ros-jazzy-eigen-stl-containers, ros-jazzy-eigen3-cmake-module, ros-jazzy-geometry-msgs, ros-jazzy-random-numbers, ros-jazzy-rclcpp, ros-jazzy-resource-retriever, ros-jazzy-rosidl-default-generators, ros-jazzy-shape-msgs, ros-jazzy-visualization-msgs, ros-jazzy-ros-workspace
Homepage: http://ros.org/wiki/geometric_shapes
Standards-Version: 3.9.2

Package: ros-jazzy-geometric-shapes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libassimp-dev, libboost-dev, libboost-filesystem1.83.0, libeigen3-dev, libfcl-dev, libqhull-dev, ros-jazzy-console-bridge-vendor, ros-jazzy-eigen-stl-containers, ros-jazzy-eigen3-cmake-module, ros-jazzy-geometry-msgs, ros-jazzy-random-numbers, ros-jazzy-rclcpp, ros-jazzy-resource-retriever, ros-jazzy-rosidl-default-runtime, ros-jazzy-shape-msgs, ros-jazzy-visualization-msgs, ros-jazzy-ros-workspace
Description: This package contains generic definitions of geometric shapes and bodies.
